* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6c206e;
    background-image: url(Background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 350px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid #007bff;
}

.section {
    margin-bottom: 20px;
    background-color: rgb(130, 194, 206);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border: 0px dashed grey;

}

h2 {
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
}

p {
    font-size: 16px;
    color: white;
}

@media (max-width: 768px) {
    .profile-card {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .profile-card {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    .profile-pic {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 320px) {
    .profile-card {
        padding: 5px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 12px;
    }

    p {
        font-size: 10px;
    }

    .profile-pic {
        width: 60px;
        height: 60px;
    }
}